<table class="min-w-full divide-y divide-gray-200 rounded-lg">
    <thead class="bg-blue-400 text-white">
        <tr>
            {{#each headers}}
            <th scope="col" class="p-4 text-center">
                {{this}}
            </th>
            {{/each}}
            {{#if isStatus}}
            <th scope="col" class="p-4">
                Trạng thái
            </th>
            {{/if}}
            <th scope="col" class="p-4">
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {{#each data}}
        <tr>
            <td class="p-4 text-center w-[50px]">
                {{add @index 1}}
            </td>
            {{#each ../keys}}
            <td class="p-4 text-center text-base font-medium text-gray-900 max-w-[100px] truncate">
                {{#if (eq @this 'url')}}
                {{#if (lookup ../this @this)}}
                <div class="flex justify-center">
                    <img src="{{lookup ../this @this}}" alt="Image" class="w-[100px] h-[100px] object-cover">
                </div>
                {{else}}
                <p>No image available</p>
                {{/if}}
                {{else}}
                {{lookup ../this @this}}
                {{/if}}
            </td>
            {{/each}}
            {{#if ../isStatus}}
            <td class="p-4 whitespace-nowrap space-x-2 w-[200px]">
                <div class="toggle flex justify-center w-full">
                    <input id="{{../id_status}}_{{this.id}}" {{#if this.status}}checked{{/if}}
                        class='toggle-checkbox absolute w-[28px] h-[16px] opacity-0 z-10 cursor-pointer' type='checkbox'
                        data-id={{this.id}} name="check" />
                    <label for="{{../id_status}}_{{this.id}}"
                        class='toggle-label bg-[#EDF2F6] block w-[28px] h-[16px] rounded-full transition-color duration-150 ease-out relative'></label>
                </div>
            </td>
            {{/if}}
            <td class="p-4 whitespace-nowrap space-x-2 text-end w-[100px]">
                {{#if ../src}}
                <a href="{{../src}}/{{this.id}}" data-modal-toggle="product-modal"
                    class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-2 py-2 text-center">
                    Sửa
                </a>
                {{else}}
                <button id="" data-modal-toggle="product-modal" data-id={{this.id}}
                    class="open-modal-edit text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-2 py-2 text-center">
                  Sửa
                </button>
                {{/if}}

                <button type="button" id="" data-modal-toggle="delete-product-modal"
                    data-id={{this.id}}
                    class="{{../button_delete}} text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-2 py-2 text-center">
                    Xóa
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>